Source: icecc
Section: devel
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Mark Purcell <msp@debian.org>,
 Pino Toscano <pino@debian.org>
Build-Depends: debhelper (>= 11),
 docbook2x, docbook-xml,
 libarchive-dev,
 liblzo2-dev,
 libzstd-dev,
 libcap-ng-dev [linux-any],
 libdevstat-dev [kfreebsd-any],
 pkg-config
Homepage: https://github.com/icecc/icecream
Standards-Version: 4.1.4
Vcs-Git: https://salsa.debian.org/qt-kde-team/extras/icecc.git
Vcs-Browser: https://salsa.debian.org/qt-kde-team/extras/icecc

Package: icecc
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, lsb-base, file, sed,
 g++ | c++-compiler | c-compiler
Recommends: logrotate
Suggests: icecc-monitor, clang [amd64 i386]
Description: distributed compiler (client and server)
 icecc (also known as Icecream) is a distributed compile system. It allows
 parallel compiling by distributing the compile jobs to several nodes of
 a compile network running the icecc daemon. The icecc scheduler routes
 the jobs and provides status and statistics information to the icecc monitor.
 .
 Each compile node can accept one or more compile jobs depending on the number
 of processors and the settings of the daemon. Link jobs and other jobs which
 cannot be distributed are executed locally on the node where the compilation
 is started.

Package: libicecc-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: ${misc:Depends},
 libarchive-dev,
 liblzo2-dev,
 libzstd-dev,
 libcap-ng-dev [linux-any],
 libdevstat-dev [kfreebsd-any],
Description: development files for icecc (distributed compiler)
 This package is part if icecc. It provides files which are necessary to build
 icecc-monitor.
 .
 See the 'icecc' package for more information.
